.button-story {
    .settings {
        display: flex;
        align-items: center;
        border: 1px solid lightgrey;
        padding: 20px;

        .rm-select {
            width: 200px;
            margin: 0 20px;
        }

        .rm-text-input {
            margin: 0 20px;
            width: 200px;
        }

        .rm-checkbox {
            margin: 0 20px;
        }
    }

    .sandbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 300px;
    }

    .code {
        display: block;
        margin-top: 30px;
        width: 70%;
        padding: 20px;
        text-align: center;
    }
}